<div id="<%= dom_id track %>">
  <p>
    <strong>Index:</strong>
    <%= track.index %>
  </p>

  <p>
    <strong>Is working:</strong>
    <%= track.is_working %>
  </p>

  <p>
    <strong>Is for kids:</strong>
    <%= track.is_for_kids %>
  </p>

</div>
