<div id="<%= dom_id equipment %>">
  <p>
    <strong>Reservation:</strong>
    <%= equipment.reservation_id %>
  </p>

  <p>
    <strong>Shoe:</strong>
    <%= equipment.shoe_id %>
  </p>

  <p>
    <strong>Bowling ball:</strong>
    <%= equipment.bowling_ball_id %>
  </p>

</div>
