<h1>Editing bowling ball</h1>

<%= render "form", bowling_ball: @bowling_ball %>

<br>

<div>
  <%= link_to "Show this bowling ball", @bowling_ball %> |
  <%= link_to "Back to bowling balls", bowling_balls_path %>
</div>
